<section class="sign-in-page">
    <div class="form-heading">
        <h1>Log In</h1>
    </div>
    <div class="signup-section">
        <form class="signup-form">
            <div>
                <label for="username-signup">Set Username</label>
                <input type="text" class="entry-field" id="username-signup" />
            </div>
            <div>
                <label for="password-signup">Set Password</label>
                <input type="password" class="entry-field" id="password-signup" />
            </div>
            <div>
                <button type="submit" class="signup-signup-btn">sign up</button>
            </div>
        </form>
    </div>
    <a href="/login" class="login-link">log in instead</a>
</section>

<script src="/javascript/signup.js"></script>